/* 
    Colour palette: 
    https://coolors.co/000000-14213d-313238-4e4232-fca311-e5e5e5-efefef-ffffff

    Black: #000000
    Dark Blue: #14213D
    Dark Grey: #313238
    Darker Brown: #4E4232
    Yellow: #FCA311
    Grey: #E5E5E5
    Light Grey: #EFEFEF
    White: #FFFFFF
*/

html, body {
    height: 100vh;
    width: 100vw;

    min-width: 600px;
    min-height: 750px;
}

body {
    background-color: #313238;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.header, .footer, .content {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    height: 10%;
}

.header {
    background-color: #E5E5E5;

}

.content {
    height: 80%;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-items: center;
    align-items: center;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 30%;
    height: 80%;
    background-color: #4E4232;
}

.footer {
    background-color: #E5E5E5;
}