/* 
    Colour palette: 
    https://coolors.co/000000-14213d-313238-4e4232-fca311-e5e5e5-efefef-ffffff

    Black: #000000
    Dark Blue: #14213D
    Dark Grey: #313238
    Darker Brown: #4E4232
    Yellow: #FCA311
    Grey: #E5E5E5
    Light Grey: #EFEFEF
    White: #FFFFFF
*/

html, body {
    height: 100vh;
    width: 100vw;

    min-width: 600px;
    min-height: 750px;
}

body {
    background-color: #313238;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.header, .footer, .content {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    height: 10%;
}

.header {
    background-color: #E5E5E5;

}

.content {
    height: 80%;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-items: center;
    align-items: center;
}

.calculator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 400px;
    height: 600px;
    background-color: #4E4232;
}

.display, .keypad {
    margin: 30px;
    width: 90%;
    background-color: #E5E5E5;
}

.display {
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 45px;
    font-family: "Lucida Console","Lucida Sans Typewriter","monaco","Bitstream Vera Sans Mono",monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.display-text {
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    text-align: right;
}

.keypad {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.row {
    width: 97%;
    height: 20%;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 25%;
    height: 90%;
    background-color: #E5E5E5;
    border: 1px solid #4E4232;
    border-radius: 5px;
    margin: 3px;
    font-size: larger;
}

.clear-btn {
    width: 78%;
}

.zero-btn {
    width: 52%;
}

.footer {
    background-color: #E5E5E5;
}